.products {
  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 160px;
    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 59px;
    text-align: center;
    color: #000000;
  }

  .products-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    margin: 0 50px 50px 50px;
  }
}
